<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Création d’un service Web en REST sur Node.js connectée à une base de données infonuagique">
    <title>API-Films</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/#films">Films</a></li>
            <li><a href="/#utilisateurs">Utilisateurs</a></li>
            <li><a href="/#inscription">Inscription</a></li>
            <li><a href="/#connexion">Connexion</a></li>
        </ul>
    </nav>
    {{^film}}
    <header><h1>Film no trouvé.</h1></header>
    {{/film}}
    {{#film}}
    <header><h1>{{titre}}</h1></header>
    <section>
        <table>
            <tr><td>Titre</td><td>{{titre}}</td></tr>
            <tr><td>Genres</td><td>{{#genres}}{{.}} - {{/genres}}</td></tr>
            <tr><td>Description</td><td>{{description}}</td></tr>
            <tr><td>Année</td><td>{{annee}}</td></tr>
            <tr><td>Réalisation</td><td>{{realisation}}</td></tr>
            <tr><td>TitreVignette</td><td>{{titreVignette}}</td></tr>
        </table>
    </section>
    {{/film}}
</body>
<script src="js/scripts.js"></script>
</html>