<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Création d’un service Web en REST sur Node.js connectée à une base de données infonuagique">
    <title>API-Films</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1 id="api-films">API Films</h1>
    <h2 id="documentation">Documentation</h2>
    <p>Cette API permet de créer un utilisateur et de se connecter, ainsi que gérer une liste de films: récupérer, ajouter, modifier et supprimer des films.</p>
    <p><strong>lien ver Render</strong> <a href="https://film-j3by.onrender.com">https://film-j3by.onrender.com</a></p>
    <p><strong>lien ver GitHub</strong> <a href="https://github.com/yzl-2022/API-Films.git">https://github.com/yzl-2022/API-Films.git</a></p>
    <hr>
    <h2 id="routes">Routes</h2>
    <h3 id="r-cup-rer-tous-les-films">récupérer tous les films</h3>
    <p>GET /api/films -- afficher tous les films</p>
    <p>GET /api/films?tri=annee&amp;ordre=asc</p>
    <p>GET /api/films?tri=annee&amp;ordre=asc&amp;limit=15 -- afficher 15 films ou moins</p>
    <p>GET /api/films?tri=titre&amp;ordre=desc</p>
    <p><em>paramètres possibles, dont l&#39;ordre n&#39;a pas d&#39;importance</em></p>
    <ul>
    <li>tri<ul>
    <li>titre</li>
    <li>description</li>
    <li>annee</li>
    <li>realisation</li>
    <li>id</li>
    </ul>
    </li>
    <li>order<ul>
    <li>asc</li>
    <li>desc</li>
    </ul>
    </li>
    <li>limit -- un entier supérieur à 0</li>
    </ul>
    <h3 id="ajouter-un-nouveau-film">ajouter un nouveau film</h3>
    <p>POST /api/films -- vous pouvez utiliser le formulaire sur cette page</p>
    <h3 id="r-cup-rer-un-film-par-son-id">récupérer un film par son id</h3>
    <p>GET /api/films/:id</p>
    <h3 id="modifier-un-film-par-son-id">modifier un film par son id</h3>
    <p>PUT /api/films/:id</p>
    <h3 id="supprimer-un-film-par-son-id">supprimer un film par son id</h3>
    <p>DELETE /api/films/:id</p>
    <h3 id="cr-er-un-utilisateur">créer un utilisateur</h3>
    <p>POST /api/utilisateurs/inscription -- vous pouvez utiliser le formulaire sur cette page</p>
    <h3 id="connecter-un-utilisateur">connecter un utilisateur</h3>
    <p>POST /api/utilisateurs/connexion -- vous pouvez utiliser le formulaire sur cette page</p>    
</body>
<script src="js/scripts.js"></script>
</html>